<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body <%= style = "background-color: req.session.color"  %>>
    <% if(locals.data) {%>
        <p>Hola <%= data.name %>, elegiste el color: <%= data.color %>, tu email es:
            <%= data.email %> y tu edad es: <%= data.age %></p>
    <% } %>
    <% if(locals.errors) { %>
        <% for(let anError in errors) { %>
            <p style="color: red"><%= errors[anError].msg %></p>
        <% } %>
    <% } %>
    <form action="/" method="POST">
        <br>
        <label for="name">Ingrese su nombre:</label>
        <input 
            type="text" name="name" 
            value="<%= locals.oldData ? oldData.name : null %>">
        <br><br>
        <% 
                let colores = ['Azul', 'Verde', 'Amarillo'];
        %>
        <label for="color">Elige un color:</label>
        <select name="color" id="color">
            <% for(const color of colores) {%>
                <option 
                    value="<%= color %>"
                    <%= locals.oldData && (color === oldData.color ? 'selected' : null ) %>
                > <%= color %> </option>
            <% } %>
        </select>
        <br><br>
        <label for="email">Ingrese su email:</label>
        <input 
            type="email" name="email" 
            value="<%= locals.oldData ? oldData.email : null %>">
        <br><br>
        <label for="age">Ingrese su edad:</label>
        <input 
            type="text" name="age" 
            value="<%= locals.oldData ? oldData.age : null %>">
        <br><br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>